#task{
    border: 1px solid black;
    text-align: center;
    
}
li{
    list-style: none;
}
#edit{
    width: 400px;
}
input{
    vertical-align: right;
}
#tasks, #edit{
    display: inline;
    vertical-align: top;
}