
<div style="text-align:center">
  <h1>Restful Tasks API</h1>
  
  <div>
    <h2>New Task</h2>
    <form (submit)= "onCreate()">
      <p>{{new_task | json}}</p>
      <label>Task Title:
        <input type="text" name="new_task.title" [(ngModel)]="new_task.title" />
      </label><br>
      <label>Task Description:
        <input type="text" name="new_task.desc" [(ngModel)]="new_task.desc" />
      </label><br>
      <input type='submit' value='Create Task'/>
    </form>
  </div>

  
  <div id='tasks'>
      
    <ul>
        <h2>List of all tasks:</h2>
      <li id='task' *ngFor='let task of all_task'>
          <h2>{{task.title | json}}</h2>
          <h4>{{task.desc | json }}</h4>
          <button (click)="onEdit(task._id)">Edit</button>
          <button (click)="deleteTask(task._id)">Delete</button>
      </li>
    </ul>


    
  </div>

  <div id='edit'>
    <h2>Edit a Task</h2>
    <form (submit)= "editTask(edit_taskT._id)">
      <p>{{edit_taskT | json}}</p>
      <label>Task Title:
        <input type="text" name="edit_taskT.title" [(ngModel)]="edit_taskT.title" />
      </label><br>
      <label>Task Description:
        <input type="text" name="edit_taskT.desc" [(ngModel)]="edit_taskT.desc" />
      </label><br>
      <input type='submit' value='Update Task'/>
    </form>
  </div>

</div>

<router-outlet></router-outlet>
