<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dojo Weather Forecast
  </h1>
  <ul>
    <li [routerLink]="['/seattle']">Seattle, WA</li>
    <li [routerLink]="['/dallas']">Dallas, TX</li>
    <li [routerLink]="['/houston']">Houston, TX</li>
    <li [routerLink]="['/miami']">Miami, FL</li>
    <li [routerLink]="['/chicago']">Chicago, IL</li>
    <li [routerLink]="['/nashville']">Nashville, TN</li>
  </ul>
  
</div>


<router-outlet></router-outlet>
